<br/>
<div class="row">
	<div class="row" style="margin-bottom : 10px;">
		<div class="col-md-12">
			<h1>Game Tutorial</h1>
			<div class="content-tutorial">
				
				<p>Mỗi người chơi có thể tạo phòng chơi mới hoặc join vào những phòng đã tạo sẵn.</p>
				<p>Tạo phòng chơi mới Người chơi có thể gõ tên của mình vào form tạo phòng chơi mới. Hệ thống sẽ sinh ra một chuỗi ký tự ngẫu nhiên. Người chơi có thể gửi chuỗi ký tự này đến những người bạn của mình để cho thể chơi chung.</p>

				<p class="image">
					<img src="/images/tutorial/2-create-new-room.jpg" max-width="100%" class=" img-responsive">
				</p>
				
				<p>Join vào phòng đã tạo Người chơi nhập key của phòng và tên của mình vào ô Join phòng</p>

				<p class="image">
					<img src="/images/tutorial/1-join-room-exist.jpg" max-width="100%" class=" img-responsive">
				</p>

				<p>Phòng có thể bắt đầu khi số người chơi từ 2 trở lên. Chỉ có người tạo phòng mới có thể bắt đầu trò chơi. Số lượng thành viên trong phòng không giới hạn. Trong khi trò chơi chưa được bắt đầu, mọi người có key của phòng đều có thể vào phòng. Nếu phòng đã bắt đầu chơi, người dùng không thể vào phòng đó được.</p>

				<p class="image">
					<img src="/images/tutorial/3-wait-user.jpg" max-width="100%" class=" img-responsive">
				</p>

				<p>Chương trình sẽ hiện ra một bảng gồm 16 số và một phép tính. Người chơi chọn kết quả phép tính cho rằng là đúng. Nếu kết quả này sai, người chơi có thể chọn tiếp đáp án khác. Nếu kết quả đúng, người chơi sẽ +1 điểm và chương trình sẽ hiện ra phép toán khác. Đồng thời ô chứa kết quả đúng vừa rồi không được chọn nữa.</p>

				<p class="image">
					<img src="/images/tutorial/4-choi-game.png" max-width="100%" class=" img-responsive">
				</p>

				<p>Khi tất cả các ô đều đã được chọn đúng, người có điểm số cao nhất sẽ là người chiến thắng. Người chơi có thể tự ý rời phòng bất kỳ lúc nào. Khi phòng đang chơi chỉ còn lại 1 người, người đó là người chiến thắng.</p>

				<p class="image">
					<img src="/images/tutorial/5-winner.jpg" max-width="100%" class=" img-responsive">
				</p>

				<p>Chúc các bạn chơi vui vẻ</p>

				<p class="author">Created by DHL Band</p>

			</div>
		</div>
	</div>
    
</div>