/* =========================== Layout ===========================*/

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

a:hover{
	text-decoration: none;
}

/*Header*/

.header{
	padding: 30px 0px;
}

.nav-menu{
	padding-bottom: 20px;
}

h3.title{
	font-size: 40px;
	text-align: center;
}

.nav-menu .col-md-12{
	padding-right: 0px;
	padding-left: 0px
}
.navbar {
    border-radius: 0px;
    
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a {
    color: #ffffff;
}

/*Main*/
.main{
	margin-bottom: 100px;
}


/*Footer*/

div.footer .copyright{
	font-size: 15px;
	line-height: 50px;
	text-align: center;
}

.footer .col-md-12{
	padding-right: 0px;
	padding-left: 0px
}

.footer {
    position: fixed;
    height: 80px;
    bottom: 0;
    width: 100%;
    background-color: #cccccc;
}

.footer .col-md-12{
    border-top: 1px solid #ccc;

}


/* =========================== Index ===========================*/
.form-room{
	padding: 20px 0px;
}

.form-room form{
	padding-bottom: 10px;
}


/* =========================== Game Start ===========================*/

.table-game{
	padding: 10px;
}

.table-game .grid_cell{}


.table-game .grid_cell{
	cursor: pointer;
	padding: 20px 0px;
	font-size: 30px;
	text-align: center;
}

/* =========================== Game Start ===========================*/
div.content-tutorial{

}

div.content-tutorial p{
	font-size: 18px;
	text-align: justify;
}
div.content-tutorial p.image{
	text-align: center;
}
div.content-tutorial p.image img.img-responsive{
	border: 1px solid #ccc;
	text-align: center;
	width: 100%;
}
div.content-tutorial p.author{
	text-align: right;
	font-style: italic;
}

div#mainScreen {
	font-size: 20px;
}
.winner{
	color: red;
	font-size: 30px;
}

.champion{
	font-weight: bold;
}

.list-group-item{
	font-size: 15px;
}
.list-group-item-wait{
	list-style: none;
	font-size: 15px;
	font-weight: bold;
}